.container {
	font-family: 'Open Sans', sans-serif;
}

header{
  width:100%;
}

.content{
  margin-left:25%;
  margin-right:25%;
  padding-top:5em;

}
.nav-content{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-left: 25%;
}

h1{
  display:inline;
}

nav {
  padding-left: 6em;
  display: inline;
}

nav a {
  padding-left: 4em;
  color:white;
}

.background_black {
  background-color: black;
  color: white;
  position:fixed;
  margin: 0;
}