.container {
  margin: 0 auto;
  width: 720px;
	font-family: 'Open Sans', sans-serif;
}
header {
  padding-bottom: 1em;
}

header ul {
  display: inline;
}

header ul a {
  padding-left: 1em;
  padding-right: 1em;
}

.center {
  text-align: center;
}
.border_bottom {
  border-bottom:  1px dotted grey;
}